@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ABCSocial";
    src: url(fonts/ABCSocial-Book.woff2) format("woff2"),
      url(fonts/ABCSocial-Book.woff) format("woff");
    font-weight: normal;
  }
  @font-face {
    font-family: "ABCSocial";
    src: url(fonts/ABCSocial-Medium.woff2) format("woff2"),
      url(fonts/ABCSocial-Medium.woff) format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "G2Ciao";
    src: url(fonts/G2Ciao-Shrill.woff2) format("woff2"),
      url(fonts/G2Ciao-Shrill.woff) format("woff");
  }
}
